<div class="container">

  <div class="jumbotron container">
    <h1>Welcome to PlaidRhinoFlow</h1>
    <p class="lead">This site is about to change your life baby.</p>
    <% if !current_user %>
      <p><a class="btn btn-xs btn-warning" href="/users/new" role="button">Sign up</a></p>
      <p><a class="btn btn-xs btn-info" href="/sessions/new">Log In!</a></p>
    <% end %>
  </div>

</div>


<div class="row marketing">

    <div class="col-md-6 col-md-offset-3 post-question">
      <% if session[:user_id] %>
      <a class="btn btn-primary" href="/questions/new" role="button">Post Question</a>
      <% else %>
      <a class="btn btn-primary" href="/sessions/new" role="button">Post Question</a>
      <%end%>
    </div>


  <div class="col-md-6 col-md-offset-3">
    <div class="content">
      <% @questions.each do |question| %>
      <div class="post">
        <div class="title"><h3><a href="/questions/<%=question.id%>"><%= question.title %></a></h3>
        </div>
        <div class="details">
          <div class="answers">
            <span>0</span>
            <a href="/questions/<%=question.id%>">answers</a>
          </div>
          <div class="votes">
            <span>0</span>
            <a href="/questions/<%=question.id%>">votes</a>
          </div>
          <div class="views">
            <span>0</span>
            <a href="/questions/<%=question.id%>">views</a>
          </div>
        </div>
        <br class="clear">
      </div>
      <% end %>
    </div>
  </div>

</div>
