<div class='container'>
  <div>
    <h1><%= @question.title %></h1>
    <h4><%= @question.text %></h4>
  </div>

    <!-- Responses to question -->
    <div>
      <% @question.responses.each_with_index do |response, i| %>
        <div><%= "#{i+1}. #{response.text}" %></div><br>
      <% end %>
    </div>

    <!-- Post response to question -->
    <div>
      <a href="/questions/<%= @question.id %>/responses/new">Respond to question</a>
    </div>

  <!-- Answers to question -->
    <div>
      <% @question.answers.each_with_index do |answer, i| %>
        <div><%= "#{i+1}. #{answer.text}" %></div><br>

          <!-- Responses to each answer -->
          <% answer.responses.each_with_index do |response, j| %>
            <div><%= "#{j+1}. #{response.text}" %></div><br>
          <% end %>

          <div>
            <!-- Post response to answer -->
            <form class="form-horizontal" method="POST" action="/questions/:id/answers/:id/responses">
              <div class="form-group">
                <label for="responseAnswer">Response to answer:</label>
                <textarea class="form-control" name="description" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>

      <% end %>
    </div>

</div>


<br><br><br>
<h2>NOTES:</h2>
<p>Button to answer to question(if logged in)</p>
<p>button to respond to answer (if logged in)</p>

<p>Displays votes on questions, answers, responses</p>
<p>Button to vote on questions, answers, responses (if logged in)</p>
