<div class='container'>
  <div>
    <h1><%= @question.title %></h1>
    <h4><%= @question.text %></h4>
  </div>

    <!-- Responses to question -->
    <div>
      <form action='/questions/<%= @question.id %>/votes/new' method='POST' class="upvote">
        <input type ='hidden' name="vote" value=1>
        <input type='image'  src ='https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Arrow_up_font_awesome.svg/512px-Arrow_up_font_awesome.svg.png' alt = "Submit" height='50px' width='50px'>
      </form>
      <form action='/questions/<%= @question.id %>/votes/new' method='POST' class="downvote">
        <input type ='hidden' name="vote" value=-1>
        <input type='image'  src ='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Arrow_down_font_awesome.svg/512px-Arrow_down_font_awesome.svg.png' alt = "Submit" height='50px' width='50px'>
      </form>
      <%= "Votes: #{@vote_total}" %>
      <% @question.responses.each_with_index do |response, i| %>
        <div><%= "#{i+1}. #{response.text}" %></div>
      <% end %>
    </div>

    <!-- Post response to question -->
    <div>
      <a href="/questions/<%= @question.id %>/answers/new">Answer the question</a>
    </div>

    <div>
      <a href="/questions/<%= @question.id %>/responses/new">Comment on the question</a>
    </div>
    <br><br>


  <!-- Answers to question -->
    <div>
      <% @question.answers.each_with_index do |answer, i| %>
        <div><h4><%= "#{i+1}. #{answer.text}" %></h4></div>
          <h5>Comments for this answer:</h5>
          <!-- Responses to each answer -->
          <% answer.responses.each_with_index do |response, j| %>
            <div><%= "#{j+1}. #{response.text}" %></div><br>
          <% end %>

          <!-- Post response to answer -->
          <div>
            <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/responses/new">Add your comment to this answer</a>
          </div>
          <br><br><br>
      <% end %>
    </div>

</div>


<br><br><br>
<h2>NOTES:</h2>
<p>Displays votes on questions, answers, responses</p>
<p>Button to vote on questions, answers, responses (if logged in)</p>
